.navbar ,footer{ 
    background-color: rgb(36, 35, 36) !important;
    color: antiquewhite;
}

.imagenfondo{
    background-image: url(/img/fondo.jpg);
    color: azure;
}

.fa-pizza-slice{
    font-size: 48px; 
}

.iconosredes{
    font-size: 24px;
}

